Repository dhbw-ma-ppp/ppp-2023, pull requests merged in 2023-12, with the labels that each got.

#163 Aufgaben 7 Jan und Jasmin
  Exercises/JasminSteidl/Übung7.py
Labels: exercise-07

#124 PaulSeidel_Exercises05 (1639024365/ 6260) finished
  Exercises/PaulSeidel/PSeidel_exercises_05.py
Labels: exercise-05

#151 Solution Exercise_06
  Exercises/Corvin Ansorge/exercises_06.py
Labels: exercise-06

#121 Johannes Lingk Solution Week 5
  Exercises/JohannesLingk/exercises_05.py
Labels: exercise-05

#147 Johannes Lingk Week 6 (1778099, 1623571)
  Exercises/JohannesLingk/exercises_06.py
Labels: exercise-06

#160 Johannes Lingk Week 7 (17159)
  Exercises/JohannesLingk/computer.py
  Exercises/JohannesLingk/exercise_07.py
Labels: exercise-07

#189 Aufgaben Woche 8 Raphael Fritz
  Exercises/Raphael Fritz/exercises_08.ipynb
Labels: exercise-08

#187 Gerrit Fritz Aufgabe 8
  Exercises/GerritFritz/exercises_08.ipynb
Labels: exercise-08

#197 Exercise_08
  Exercises/Corvin Ansorge/Corvin_Ansorge_Exercise_08.ipynb
Labels: exercise-08

#185 Aufgaben 8 Jan und Jasmin (1. Version nur für Abgabe)
  Exercises/JasminSteidl/exercises_08.ipynb
Labels: exercise-08

#199 Felix Regnier Woche 08
  Exercises/Felix Regnier/Figure_1.png
  Exercises/Felix Regnier/computer_atreju.py
  Exercises/Felix Regnier/ex07_Felix_Regnier.py
  Exercises/Felix Regnier/ex08_Felix_Regnier.ipynb
Labels: exercise-08

#195 Philipp Kirschke Exercises_08 completed
  Exercises/Philipp Kirschke/exercise_08.ipynb
Labels: exercise-08

#136 Week 5 Utku Acikel
  Exercises/Utku Acikel/exercises_05.py
Labels: exercise-05

#204 Week 8 Utku Acikel
  Exercises/Utku Acikel/exercises_08.ipynb
Labels: exercise-08

#144 Robert Walz Woche06
  Exercises/RobertWalz/exercises_06/classes.py
  Exercises/RobertWalz/exercises_06/main.py
Labels: exercise-06

#179 Robert Walz Woche07
  Exercises/RobertWalz/exercises_07/computer.py
  Exercises/RobertWalz/exercises_07/main.py
Labels: exercise-07

#227 removed unnecessary file
  data/test.py
Labels: repo-maintenance

#186 Paul seidel exercise08
  Exercises/PaulSeidel/PSeidel_exercises_08.ipynb
Labels: exercise-08

#210 Exercises 09 - Raphael and Paul (0.56)
  Exercises/PaulSeidel/P.Seidel_exercises_09.ipynb
Labels: exercise-09

#208 Gerrit Fritz Aufgabe 9: 0.60
  Exercises/GerritFritz/exercises_09.ipynb
  Exercises/GerritFritz/requirements.txt
Labels: exercise-09

#215 Fabian woche9 (MCC on test data: 0.529821009880083)
  Exercises/FabianSchwarz/exercises_09.ipynb
Labels: exercise-09
