Repository dhbw-ma-ppp/ppp-2023, pull requests merged in 2023-11, with the labels that each got.

#76 Philipp Kirschke exercise03.py completed
  Exercises/Philipp Kirschke/exercises_03.py
Labels: exercise-03

#82 Final Exercise_03
  Exercises/Corvin Ansorge/exercises_03.py
Labels: exercise-03

#56 Exercises Woche2
  Exercises/Celina/exercises_02.py
Labels: exercise-02

#69 Jasmin03
  Exercises/JasminSteidl/Woche3/Übung3.py
Labels: exercise-03

#92 Bo Wichtendahl Week 04 (result: 16694270)
  Exercises/BoWichtendahl/exercises_04.py
Labels: exercise-04

#67 Bo Wichtendahl Week 03 (result task 3: 1306)
  Exercises/BoWichtendahl/exercises_03.py
Labels: exercise-03

#118 PSeidel_exercise04
  Exercises/PaulSeidel/PSeidel_exercises_04.py
Labels: exercise-04

#77 Paul seidel exercise03
  Exercises/PaulSeidel/PSeidel_exercises_03.py
Labels: exercise-03

#65 Raphael Fritz Woche 3 Aufgaben
  Exercises/Raphael Fritz/Woche3.py
Labels: exercise-03

#96 Raphael Fritz Woche 4 Aufgaben 16694270
  Exercises/Raphael Fritz/Vierte Woche Aufgaben .py
Labels: exercise-04

#103 Philipp Kirschke exercise04.py completed (16694270)
  Exercises/Philipp Kirschke/exercises_04.py
Labels: exercise-04

#70 Lösungen Woche 3
  Exercises/LauravanUffelt/VL3 Lösungen.py
Labels: exercise-03

#102 Lösungen Woche 4
  Exercises/LauravanUffelt/VL 4 Lösungen.py
Labels: exercise-04

#113 Week 4 Utku Acikel
  Exercises/Utku Acikel/exercises_04.py
Labels: exercise-04

#64 Gerrit Fritz Woche 3 1306
  Exercises/GerritFritz/exercises_03.py
Labels: exercise-03

#95 Gerrit Fritz Aufgabe 4 16694270
  Exercises/GerritFritz/exercises_04.py
Labels: exercise-04

#66 Robert Walz Woche03 (1306)
  Exercises/RobertWalz/exercises_03.py
Labels: exercise-03

#108 Robert Walz Solution to Task 4
  Exercises/RobertWalz/exercises_04/computer.py
  Exercises/RobertWalz/exercises_04/main.py
  Exercises/RobertWalz/exercises_05/bag.py
  Exercises/RobertWalz/exercises_05/exercises_05.py
Labels: exercise-04

#72 Fabian Woche 3
  Exercises/FabianSchwarz/exercises_03.py
Labels: exercise-03

#86 Aufgaben 03 Felix Regnier
  Exercises/Felix Regnier/ex03_Felix_Regnier.py
Labels: exercise-03

#109 Aufgaben Woche 04 Felix Regnier
  Exercises/Felix Regnier/ex04_Felix_Regnier.py
Labels: exercise-04

#93 Utku Acikel Week 3
  Exercises/Utku Acikel/exercises_03.py
Labels: exercise-03

#78 Jan Merz Exercise 03
  Exercises/JanMerz/exercises_03.py
Labels: exercise-03

#97 Jan Merz Exercise 04 (16694270)
  Exercises/Jan Merz/exercises_04.py
Labels: exercise-04

#61 Initial Commit: Exercise 03
  Exercises/JuliusDralle/exercises_03.py
Labels: exercise-03

#137 Merging solution for Woche 4
  Exercises/FabianSchwarz/exercises_04.py
Labels: exercise-04

#98 Aufgabe 4 (16694270)
  Exercises/JasminSteidl/Übung4_16694270py.py
Labels: exercise-04

#74 Jonas Week03
  Exercises/JonasPutz/exercises_03.py
Labels: exercise-03

#94 Jonas-Week04 (16694270)
  Exercises/JonasPutz/exercises_04.py
Labels: exercise-04

#81 solution for exercise 3 (1306)
  Exercises/ChristianRietzsch/exercises_03.py
Labels: exercise-03

#90 solution for exercise 4 (16694270)
  Exercises/ChristianRietzsch/exercises_04.py
Labels: exercise-04

#71 Johannes Lingk Week 3.
  Exercises/JohannesLingk/exercises_03.py
Labels: exercise-03

#110 Johannes Lingk Week 4
  Exercises/JohannesLingk/exercises_04.py
Labels: exercise-04

#120 Bo Wichtendahl 05 (first task: 1639024365; second task: 6260)
  Exercises/BoWichtendahl/exercises_05.py
Labels: exercise-05

#123 Fabian woche5 (1639024365, 6260)
  Exercises/FabianSchwarz/exercises_05.py
Labels: exercise-05

#115 Jasmin05 (1639024365, 6260)
  Exercises/JasminSteidl/Übung5.py
Labels: exercise-05

#114 Gerrit Fritz Aufgabe 5: 1639024365, 6260
  Exercises/GerritFritz/exercises_05.py
Labels: exercise-05

#100 Julius - Final Solution to ex. 4
  Exercises/JuliusDralle/exercises_04.py
Labels: exercise-04

#158 Fixed name to match the other exercises
  Exercises/exercises_07.py
Labels: repo-maintenance

#106 Celina 4
  Exercises/Celina/exercises_04.py
Labels: exercise-04

#133 Celina 5
  Exercises/Celina/exercises_05.py
Labels: exercise-05

#138 Bo Wichtendahl 06 (Task 1: 1778099, Task 2: 1623571)
  Exercises/BoWichtendahl/exercises_06.py
Labels: exercise-06

#117 Woche 5 Aufgaben Raphael Fritz A1: 1639024365 A2: 6260
  Exercises/Raphael Fritz/Fünfte Woche Aufgaben.py
Labels: exercise-05

#141 Raphael Fritz Woche 6 (1778099 1623571)
  Exercises/Raphael Fritz/Sechste Woche Aufgaben.py
Labels: exercise-06

#140 Aufgabe06 Jasmin 1778099, 1623571
  Exercises/JasminSteidl/Übung6.py
Labels: exercise-06

#142 Gerrit Fritz Aufgabe 6 (1778099, 1623571)
  Exercises/GerritFritz/exercises_06.py
Labels: exercise-06

#150 Loesung_06 Jan Merz (1778099, 1623571)
  Exercises/JanMerz/exercises_06.py
Labels: exercise-06

#153 Fabian woche6 (1778099 | 1623571)
  Exercises/FabianSchwarz/exercises_06.py
Labels: exercise-06

#156 Celina 6
  Exercises/Celina/exercises_06.py
Labels: exercise-06

#126 Robert Walz Woche05
  Exercises/RobertWalz/exercises_05/bag.py
  Exercises/RobertWalz/exercises_05/exercises_05.py
Labels: exercise-05

#119 Exercise 5 (1639024365)(6260)
  Exercises/JuliusDralle/exercises_05.py
Labels: exercise-05

#178 Reupload zu Woche 01
  Exercises/Tom_Knoden/Woche01_reupload.py
Labels: exercise-01

#180 Reupload zu Woche 02
  Exercises/Tom_Knoden/Woche02_reupload.py
Labels: exercise-02

#182 Reupload zu Woche 03
  Exercises/Tom_Knoden/Woche03_reupload.py
Labels: exercise-03

#159 Reupload zu Woche 05 (1639024365; 6260)
  Exercises/Tom_Knoden/Woche_05_Aufgaben_reupload.py
Labels: exercise-05

#155 Aufgaben zu Woche 06 (1778099;1623571)
  Exercises/Tom_Knoden/Aufgaben_Woche_06.py
Labels: exercise-06

#164 Paul seidel exercise06 (1778099,X)
  Exercises/PaulSeidel/PSeidel_exercises_06.py
Labels: exercise-06

#183 Reupload zu Woche 04 (16694270)
  Exercises/Tom_Knoden/Woche04_reupload.py
Labels: exercise-04

#168 Bo Wichtendahl 07 (Final score: 17159)
  Exercises/BoWichtendahl/exercise_07/breakout_game.py
  Exercises/BoWichtendahl/exercise_07/exercises_07.py
  Exercises/BoWichtendahl/exercise_07/int_computer.py
Labels: exercise-07

#122 Jonas-Week05
  Exercises/JonasPutz/exercises_05.py
Labels: exercise-05

#161 Gerrit Fritz Aufgabe 7 (17159)
  Exercises/GerritFritz/computer.py
  Exercises/GerritFritz/exercises_07.py
  Exercises/GerritFritz/requirements.txt
Labels: exercise-07

#139 Jonas-Week06 (1778099, 1623571)
  Exercises/JonasPutz/exercises_06.py
Labels: exercise-06

#170 Jonas-Week07(17159)
  Exercises/JonasPutz/exercises_07.py
  Exercises/JonasPutz/exercises_07_breakoutgui.py
  Exercises/JonasPutz/exercises_07_computer.py
Labels: exercise-07

#166 Paul seidel exercise07 (17159)
  Exercises/PaulSeidel/PSeidel_exercises_07.py
Labels: exercise-07

#162 Jasmin_Steidl_Jan_Merz_Exercise_07 (Score: 17159)
  Exercises/JanMerz/exercises_07.py
Labels: exercise-07

#129 Solution Exercise_05
  Exercises/Corvin Ansorge/exercises_05.py
Labels: exercise-05
