Repository dhbw-ma-ppp/ppp-2023, pull requests merged in 2024-01, with the labels that each got.

#214 Robert Walz Woche09 MCC: 0.5835
  Exercises/RobertWalz/exercises_09.ipynb
Labels: exercise-09

#220 Utku Acikel / Felix Regnier 09 MCC: 0.581674631393
  Exercises/Utku Acikel/exercises_09.ipynb
Labels: exercise-09

#222 Christian Rietzsch Woche 9 (0.6978324716443296)
  Exercises/ChristianRietzsch/exercises_09.py
Labels: exercise-09

#54 This week's stuff
  Exercises/TuNguyenXuan/Tufgaben2.py
Labels: exercise-02

#181 Tufgaben7
  Exercises/TuNguyenXuan/Tufgaben7.py
  Exercises/TuNguyenXuan/computer.py
Labels: exercise-07

#177 Celina 7
  Exercises/Celina/exercises_07.py
  Exercises/Celina/int_computer.py
Labels: exercise-07

#172 Laura Lösung Woche 7 (17159)
  Exercises/LauravanUffelt/VL7 Lösungen.py
  Exercises/LauravanUffelt/int_computer.py
Labels: exercise-07

#165 Julius Dralle Task 7. (17159)
  Exercises/JuliusDralle/PicturePart1.png
  Exercises/JuliusDralle/exercises_07.py
Labels: exercise-07

#203 Tufgaben08
  Exercises/TuNguyenXuan/Tufgaben8.ipynb
Labels: exercise-08

#194 Jonas week08
  Exercises/JonasPutz/exercises_08.py
Labels: exercise-08

#188 Added solution to 08
  Exercises/JuliusDralle/Exercise_08.ipynb
  Exercises/JuliusDralle/Exercise_08.pdf
Labels: exercise-08

#184 Loesung_08_Jasmin_Steidl_Jan_Merz
  Exercises/JanMerz/exercises_08.ipynb
Labels: exercise-08

#225 Celina 9 (0.6467639012116649)
  Exercises/Celina/exercise_09.ipynb
Labels: exercise-09

#224 Tufgaben9 (0.61)
  Exercises/TuNguyenXuan/Tufgaben9.ipynb
Labels: exercise-09

#218 Johannes Lingk Week 9 (MCC: 0.647 for SGDClassifier)
  Exercises/JohannesLingk/exercises_09.html
  Exercises/JohannesLingk/exercises_09.ipynb
  Exercises/JohannesLingk/exercises_09.pdf
Labels: exercise-09

#216 Corvin_Ansorge_Solution_Exercise_09_MCC:0.5319687835541821
  Exercises/Corvin Ansorge/Corvin_Ansorge_Exercise_09.ipynb
Labels: exercise-09

#211 Julius Dralle - Exercise 09(0.53634178089057)
  Exercises/JuliusDralle/exercises_09.py
Labels: exercise-09

#207 Solution Week-09: MCC = 0.6481979128125026
  Exercises/JonasPutz/exercises_09.py
Labels: exercise-09
